h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
}

.app {
  width: 100vw;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dropdown {
  width: 300px;
  padding: 0;
  font-size: 18px;
}

.dropdown .container {
  border: 1px solid;
  cursor: pointer;
  padding: 0;
}

.dropdown .label {
  padding: 10px 5px;
  margin: 0;
}
  
.dropdown .labelOpen {
  border-bottom: 1px solid;
}
  
.dropdown .items {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.dropdown .item {
  padding: 5px;
}
  
.dropdown .itemSelected {
  background-color: rgba(0, 0, 0, 0.25);
}

.info {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.infoButton {
  cursor: pointer;
  border: none;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  display: inline;
  color: blue;
  border-bottom: 1px solid;
}

.infoIcon {
  border: 1px solid black;
  border-radius: 200%;
  padding: 0.25em 0.7em;
  font-size: 10px;
  margin-right: 0.25rem;
}